fastapi
uvicorn
pydantic
python-multipart
pypdf
google-generativeai
langgraph
langchain-core
sentence-transformers
torch --index-url https://download.pytorch.org/whl/cpu
langchain-groq
groq
python-dotenv
